<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="card-header">
                <h4 class="mb-0">Start New Exam</h4>
            </div>
            <div class="card-body">
                <form action="/begin-exam" method="POST">
                    <div class="mb-3">
                        <label for="subject" class="form-label">Select Subject</label>
                        <select class="form-select" id="subject" name="subject" required>
                            <option value="">Choose a subject...</option>
                            <option value="all">All Subjects</option>
                            <% subjects.forEach(subject => { %>
                                <option value="<%= subject %>"><%= subject %></option>
                            <% }); %>
                        </select>
                    </div>
                    
                    <div class="mb-3">
                        <label for="numQuestions" class="form-label">Number of Questions</label>
                        <input type="number" class="form-control" id="numQuestions" name="numQuestions" min="5" max="50" value="10" required>
                        <div class="form-text">Select between 5 and 50 questions</div>
                    </div>
                    
                    <div class="mb-3">
                        <label for="timeLimit" class="form-label">Time Limit (minutes)</label>
                        <input type="number" class="form-control" id="timeLimit" name="timeLimit" min="10" max="180" value="30" required>
                        <div class="form-text">Select between 10 and 180 minutes</div>
                    </div>
                    
                    <button type="submit" class="btn btn-primary w-100">Start Exam</button>
                </form>
            </div>
        </div>
    </div>
</div>